body {
    background-image: url('../img/fonts/fondo-artesanias.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.registrarse-title {
    color: darkslategray;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    color: black;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 3px #007bff;
}

button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #0069d9;
}

.link-btn {
    margin-top: 10px;
    color: blue;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.link-btn:hover {
    text-decoration: underline;
}
